.header{
  width: 100%;
  padding: 20px 0;
  font-size: 26px;
  font-weight: 600;
  color: rgba(0,0,0, 0.7);
  border-bottom: 1px solid rgba(0,0,0, 0.1);
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._log_out{
  font-size: 16px;
  color: #e6f6ef;
  background: #1bad6c;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

._btn{
  outline: none;
  border: none;
  padding: 3px 6px;
  border-radius: 3px;
}
._completed_project_btn{
  color: #1bad6c;
  background: #e6f6ef;
}
._completed_project_btn:hover{
  background: #1bad6c;
  color: #e6f6ef;
}


._panding_project_btn{
  color: #f6a40b;
  background: #fef6e7;
}
._panding_project_btn:hover{
  background: #f6a40b;
  color: #fef6e7;
}


._Reported_project_btn{
  color: #f62f0b;
  background: #feeae7;
}

._Reported_project_btn:hover{
  background: #f62f0b;
  color: #feeae7;
}


.del_btn{
  color: #f62f0b;
  background: #feeae7;
}

.del_btn:hover{
  background: #f62f0b;
  color: #feeae7;
}

.add_project{
  padding: 6px 12px;
  background: #1bad6c;
  color: #fff;
  border-radius: 4px;
}

.add_project:hover{
  color: #fff;
  background: #02a45c;
}


/* Table */


